body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 40px;
}


